# ==========================================================
# CONFIGURAÇÕES DO BANCO DE DADOS POSTGRESQL (StockPro)
# Painel Adminer: https://dbadmin.ctdibrasil.com.br/?pgsql=srv-captain--db-postgres&username=postgres&db=StockPro&ns=public
# ==========================================================

# 1. Opção via DATABASE_URL:
# No CapRover (Rede interna Docker):
DATABASE_URL="postgresql://postgres:sua_senha_aqui@srv-captain--db-postgres:5432/StockPro"

# Em Desenvolvimento Local (localhost):
# DATABASE_URL="postgresql://postgres:sua_senha_aqui@localhost:5432/StockPro"

# 2. Ou via parâmetros individuais:
PGHOST="srv-captain--db-postgres"
PGPORT="5432"
PGUSER="postgres"
PGPASSWORD="sua_senha_aqui"
PGDATABASE="StockPro"

# ==========================================================
# CONFIGURAÇÕES DO SERVIDOR BACKEND
# ==========================================================
PORT="5000"
JWT_SECRET="sua_chave_secreta_super_segura_jwt_2026"
APP_URL="http://localhost:3000"
